:host {
    --margin: 5vw;
    --padding: 10px;

    --arrow__transition_time: 0.3s;
    --burger__color: #000;
    --burger_active__color: #fff;
    --container__mobile_width: 80%;
    --menu__category_item__color: #000;
    --menu_list__background: #111d;
    --sub_menu__background: #111d;
    --sub_menu__max_width: 750px;
    --sub_menu__transition_time: 0.5s;
    --underline__color: #bfbfbf;
    --menu__item_color_hover: #bfbfbf;
}


.body {
    --_padding_menu_dropdown: 30px;
    --_grid_flow: column;
}




* {
    box-sizing: border-box;
    user-select: none;
}

* [data-url] {
    cursor: pointer;
}


:host {
    display: block;
    padding: 0 !important;
    position: sticky !important;
}

:host([hidden]) {
    display: none !important;
}


[dropdownlist]::after {
    background: url('./arrow.svg') center / cover no-repeat;
    content: '';
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    transition: transform var(--arrow__transition_time);
    width: 10px;
}


.back,
.burger {
    cursor: pointer;
    display: none;
}


.body {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-left: var(--margin);
    margin-right: var(--margin);
}


.menu__category {
    font-weight: 700;
    padding: max(var(--_padding_menu_dropdown), var(--padding));
}


.menu__category_item {
    color: var(--menu__category_item__color);
    font-weight: normal;
    margin: 10px;
}


.logo {
    display: contents;
}

.menu__logo {
    cursor: pointer;
    max-height: 1cm;
    max-width: 150px;
    overflow: hidden;
    padding: var(--padding);
}

.logo img {
    object-fit: cover;
}


.container {
    align-content: start;
    /* background: #afa; */
    display: grid;
    grid-auto-flow: var(--_grid_flow);
    grid-gap: 30px;
    /* height: 100%; */
}


.menu__item {
    height: 100%;
    padding: var(--padding) 0;
    position: relative;
}

.menu__item img {
    max-height: 300px;
    max-width: 200px;
}



.menu__item:hover {
    color: var(--menu__item_color_hover);
}


.menu__list {
    background: var(--menu_list__background);
    box-shadow: 0 5px 15px 0 #0002;
    display: grid;
    grid-auto-flow: var(--_grid_flow);
    grid-gap: 10px;
    opacity: 0;
    overflow: auto;
    /* padding: var(--padding); */
    position: absolute;
    right: 0;
    visibility: hidden;
    z-index: 10;
    cursor: default;
}


.menu__item_title {
    font-weight: 700;
}


.profile {
    display: contents;
    cursor: pointer;
}




@media (min-width: 750px /* var(--sub_menu__max_width) */) {
    .menu__category:nth-child(n+3) {
        border-left: 1px solid var(--underline__color);
    }

    .menu__category_item:not(:first-of-type) {
        margin-top: 20px;
    }


    .menu__item:hover [dropdownlist]::after {
        transform: rotate(180deg);
        transition: transform var(--arrow__transition_time);
    }

    .menu__item:hover .menu__list {
        opacity: 1;
        top: 100%;
        transition: all var(--sub_menu__transition_time);
        visibility: visible;
    }


    .menu__list {
        max-height: 90vh;
        max-width: 90vw;
    }


    .overlay {
        display: none;
    }
}


@media (max-width: 749px /* calc(var(--sub_menu__max_width) - 1px) */) {
    .back {
        border-bottom: 1px solid var(--underline__color);
        display: block;
        padding: min(var(--_padding_menu_dropdown), var(--padding));
    }

    .back::before {
        content: '';
        width: 10px;
        height: 10px;
        background: url('./arrow.svg') center / cover no-repeat;
        display: inline-block;
        margin-right: 10px;
        transform: rotate(90deg);
    }


    .body {
        --_grid_flow: row;
    }


    .burger {
        display: block;
        height: 18px;
        position: relative;
        width: 30px;
        z-index: 2;
    }

    .burger span {
        background: var(--burger__color);
        height: 2px;
        left: 0;
        position: absolute;
        top: calc(50% - 1px);
        transition: all 0.2s;
        width: 100%;
    }

    .burger span:first-child {
        top: 0;
    }

    .burger span:last-child {
        bottom: 0;
        top: auto;
    }

    .burger[_active] span {
        background: var(--burger_active__color);
        transform: scale(0);
    }

    .burger[_active] span:first-child {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .burger[_active] span:last-child {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }


    .menu__category {
        padding: 0;
    }


    .menu__category .title {
        padding-bottom: 0 !important;
    }

/*   .menu__category:not(:last-child) {
        border-bottom: 1px solid var(--underline__color);
    } */


    .menu__category_item {
        border-bottom: 1px solid var(--underline__color);
        margin: 0;
        padding: 20px calc(max(var(--_padding_menu_dropdown), var(--padding)) + 15px);
    }


    .container {
        background: var(--sub_menu__background);
        bottom: 0;
        box-shadow: 5px 0 15px -5px #0008;
        grid-gap: 0;
        height: 100%;
        left: -100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        transition: left var(--sub_menu__transition_time);
        width: var(--container__mobile_width);
        z-index: 2;
    }

    .container[_active] {
        left: 0;
        transition: left var(--sub_menu__transition_time);
    }


    .menu__item {
        border-bottom: 1px solid var(--underline__color);
        padding: 0;
    }

    .menu__item [dropdownlist]::after {
        transform: rotate(-90deg);
        transition: transform var(--arrow__transition_time);
    }


    .menu__item_title {
        cursor: pointer;
    }


    .menu__list {
        align-content: start;
        bottom: 0;
        grid-gap: 0;
        height: 100%;
        left: -100%;
        opacity: 1;
        padding: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: left var(--sub_menu__transition_time);
        visibility: visible;
        width: calc(var(--container__mobile_width) + 1px);
    }

    .menu__list[_active] {
        left: 0;
        transition: left var(--sub_menu__transition_time);
    }


    .overlay {
        background: #0009;
        bottom: 0;
        height: 100vh;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        visibility: hidden;
        width: 100vw;
        z-index: 1;
    }

    .overlay[_active] {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }

    .overlay[_active][_animation] {
        transition: all var(--sub_menu__transition_time);
    }

    .overlay[_animation] {
        transition: all var(--sub_menu__transition_time);
    }


    .menu__item_title {
        padding: calc(var(--padding) + 15px);
    }

    .menu__category .menu__item_title {
        padding-bottom: 0;
        padding-top: 15px;
    }
}
